
	<span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
	<span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>

	<div id="wrap-loading" class="wrap-loading dp_n"><div style="margin-left:0;"><img src="/renew/images/ajax_loader.gif" style="height:100px; width:100px" /></div></div>
	<div id="alert-success" class="alert-box success"></div>
	<div id="alert-failure" class="alert-box failure"></div>
	<div id="alert-warning" class="alert-box warning"></div>