
<div class="row">
	<div class="col-md-6 col-lg-6 grid-margin stretch-card">
		<div class="card card-rounded">
			<div class="card-body card-rounded">
				<div class="d-sm-flex justify-content-between align-items-start">
					<h4 class="card-title  card-title-dash">대분류</h4>
					<div class="btn-wrapper align-items-right">
						<button class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</button>
						<button class="btn btn-otline-dark"><i class="icon-printer"></i> Print</button>
						<button class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</button>
					</div>
				</div>
				<div class="list align-items-center border-bottom py-2">
					<div id="code-large-data-grid"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-6 grid-margin stretch-card">
		<div class="card card-rounded">
			<div class="card-body card-rounded">
				<div class="d-sm-flex justify-content-between align-items-start">
					<h4 class="card-title  card-title-dash">소분류</h4>
					<div class="btn-wrapper align-items-right">
						<button class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</button>
						<button class="btn btn-otline-dark"><i class="icon-printer"></i> Print</button>
						<button class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</button>
					</div>
				</div>
				<div class="list align-items-center border-bottom py-2">
					<div id="code-small-data-grid"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/renew/js/app/system/code.js"></script>
<div id="dlgCodePopUp"></div>