
<div class="row">
	<div class="d-sm-flex justify-content-between align-items-start">
		<h4 class="card-title  card-title-dash">Navigation</h4>
		<div class="btn-wrapper align-items-right">
			<button class="btn btn-otline-dark align-items-center"><i class="icon-share"></i> Share</button>
			<button class="btn btn-otline-dark"><i class="icon-printer"></i> Print</button>
			<button class="btn btn-primary text-white me-0"><i class="icon-download"></i> Export</button>
		</div>
	</div>
	<div class="list align-items-center border-bottom py-2">
		<div id="menu-data-grid"></div>
	</div>
</div>

<script src="/renew/js/app/system/menu.js"></script>
<div id="dlgMenuPopUp"></div>
