	<!-- Begin Page Content -->
	<div class="container-fluid">
		<!-- Page Heading -->
		<!-- DataTales -->
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary" id="lblPageTitle"></h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<div id="toolbar">
						<button id="btnCurAdd" class="btn btn-primary btn-icon-split btn-sm" role="button">
							<span class="icon text-white-50"><i class="fas fa-pencil-alt"></i></span>
							<span class="text">추가</span>
						</button>				
					</div>

					<table id="tblMenuList" data-toggle="table" class="table table-striped">
						<colgroup>
							
							<col style="" />							
							<col style="width: 20%;" />
							<col style="width: 10%;" />
							<col style="width: 10%;" />
							<col style="width: 10%;" />
							<col style="width: 10%;" />
							<col style="width: 10%;" />
						</colgroup>							
					</table>
				</div>
			</div>
		</div>		

		<!-- New/Edit Modal -->
		<div class="modal hide fade" id="dlgMenuEdit" tabindex="-1" role="dialog" aria-labelledby="dlgMenuEditTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:1100">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="dlgMenuEditTitle"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="p-2 pl-4 pr-4">
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">Menu Name(English)</label>
								</div>
								<div class="col-sm-9">
									<input id="txtMenuNameEn" type="text" class="form-control form-control-user required" maxlength="100">
									<input id="txtMenuSeq" type="hidden" class="form-control form-control-user" maxlength="100">
									<input id="txtMenuUpSeq" type="hidden" class="form-control form-control-user" maxlength="100">									
								</div>
							</div>
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">Menu Name(한국어)</label>
								</div>
								<div class="col-sm-9">
									<input id="txtMenuNameKo" type="text" class="form-control form-control-user required" maxlength="100">
								</div>
							</div>			
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label >Menu Path</label>
								</div>
								<div class="col-sm-9">
									<input id="txtMenuPath" type="text" class="form-control form-control-user" maxlength="100">
								</div>
							</div>		
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">운송계정사용유무</label>
								</div>
								<div class="col-sm-9">
									<select id="selTransYn" class="form-control form-control-user required">
										<option value="N">N</option>
										<option value="Y">Y</option>
									</select>
									
								</div>
							</div>	
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">DefailProject사용유무</label>
								</div>
								<div class="col-sm-9">
									<select id="selDefailProjectYn" class="form-control form-control-user required">
										<option value="N">N</option>
										<option value="Y">Y</option>
									</select>
									
								</div>
							</div>				
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">Mobile사용유무</label>
								</div>
								<div class="col-sm-9">
									<select id="selMobileYn" class="form-control form-control-user required">
										<option value="N">N</option>
										<option value="Y">Y</option>
									</select>
									
								</div>
							</div>																				
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">Order</label>
								</div>
								<div class="col-sm-9">
									<input id="txtMenuOrder" type="text" class="form-control form-control-user required" maxlength="100">
								</div>
							</div>																	
						</div>
					</div>

					<div class="modal-footer">
					
						<button id="btnMenuModalSave" class="btn btn-success btn-icon-split btn-sm">
							<span class="icon text-white-50"><i class="fas fa-save"></i></span>
							<span class="text">저장</span>
						</button>
						<button id="btnMenuModalDelete" class="btn btn-danger btn-icon-split btn-sm">
							<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
							<span class="text">삭제</span>
						</button>

						<button class="btn btn-secondary btn-icon-split btn-sm" data-dismiss="modal">
							<span class="icon text-white-50"><i class="fas fa-window-close"></i></span>
							<span class="text">닫기</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
		<div class="modal hide fade" id="dlgAuthSelect" tabindex="-1" role="dialog" aria-labelledby="dlgAuthSelectTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:1100">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="dlgAuthSelectTitle"></h5>
						
					</div>

					<div class="modal-body" >	
						<div id="toolbarAuth" style = "margin-bottom:10px">
							<button id="btnAuthAdd" class="btn btn-primary btn-icon-split btn-sm" role="button">
								<span class="icon text-white-50"><i class="fas fa-pencil-alt"></i></span>
								<span class="text">추가</span>
							</button>
						</div>
																
						<table id="tblAuthList" data-toggle="table" class="table table-striped">
							<colgroup>
								<col style="width: 4%;" />									
								<col style="" />
								<col style="width: 10%;" />
							</colgroup>
						</table>									
					</div>

					<div class="modal-footer">

						<button class="btn btn-secondary btn-icon-split btn-sm" data-dismiss="modal">
							<span class="icon text-white-50"><i class="fas fa-window-close"></i></span>
							<span class="text">닫기</span>
						</button>
					</div>
				</div>
			</div>
		</div>		
	</div>	
	
		<div class="modal hide fade" id="dlgAuthEdit" tabindex="-1" role="dialog" aria-labelledby="dlgAuthEditTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="z-index:1100">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="dlgAuthEditTitle">등록/수정</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div class="modal-body">
						<div class="p-2 pl-4 pr-4">
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">Code</label>
								</div>
								<div class="col-sm-9">
									<input id="txtAuthCode" type="text" class="form-control form-control-user required" maxlength="100">
									<input id="txtAuthSeq" type="hidden" class="form-control form-control-user" maxlength="100">
								</div>
							</div>
							<div class="form-group row mb-1">
								<div class="col-sm-3 text-right font-weight-bold">
									<label class="required">Name</label>
								</div>
								<div class="col-sm-9">
									<input id="txtAuthName" type="text" class="form-control form-control-user required" maxlength="100">
								</div>
							</div>	
					</div>

					<div class="modal-footer">
					
						<button id="btnAuthModalSave" class="btn btn-success btn-icon-split btn-sm">
							<span class="icon text-white-50"><i class="fas fa-save"></i></span>
							<span class="text">저장</span>
						</button>
						<button id="btnAuthModalDelete" class="btn btn-danger btn-icon-split btn-sm">
							<span class="icon text-white-50"><i class="fas fa-trash"></i></span>
							<span class="text">삭제</span>
						</button>

						<button class="btn btn-secondary btn-icon-split btn-sm" data-dismiss="modal">
							<span class="icon text-white-50"><i class="fas fa-window-close"></i></span>
							<span class="text">닫기</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>